/* 
Graphix CSS Color Scheme
*/

body { background-color:#0C1117; color:#888; }


a { color:#AE0C13; }
	a:hover { color:#fff; }

#main-container h1, #main-container h2, #main-container h3, 
#main-container h4, #main-container h5, #main-container h6,
#main-container .tagline h1, .tagline span, .entry-title a, 
.title, .title a { color:#32B2E2; }

.emphasis	{ color:#FFA200 !important; }

.tagline span { border-color:#32B2E2; }

.post-info .blogdate, .post-info .category ul li a, .post-image .post_meta_comments a, .button { background:#32B2E2; color:#fff; }

.bg_slider { border-color:#32B2E2; }

.item-image { border-color:#32B2E2; }
.item-image:hover { border-color:#fff; }

.line, .tagline, .post-image, .sidebar_item, .top, .pullleft, 
.pullright, .imageleft, .imageright, .border, .blockleft, 
.blockright, blockquote, .block_contact_info .detail { border-color:#32B2E2; }

.top a { color:#32B2E2; }
.top a:hover { color:#fff; }

.toggle-view h4 { border-color:#32B2E2; }

#icon_container.full-width { background-color:#B1E0F2; border-bottom:1px solid #74C4E3; color:#333;  -webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;}
#icon_container.full-width h4 { color:#111; }

.servicebox-hover { background:#32B2E2; }
.servicebox .icon { background:#32B2E2; }
.servicebox .title { color:#32B2E2; }
.servicebox .text-content { color:#999; }
.servicebox-hover .icon { background:#fff; }
.white  { color:#fff; }

.heading_box { border-color:#32B2E2; }

.post-meta { color:#b0b0b0; background:#18232C;  }

.filter a { color:#999;  background:#24282D; border:1px solid #111; }
.filter a:hover { color:#fff; border:1px solid #452D04;  }
.filter a.active { background:#FFA200; color:#222; border:1px solid #452D04;  }

#services_box2 .service_item { background:#32B2E2; color:#fff; border-color:#222; }
#services_box2 .service_item h4 { color:#fff; }
#services_box2 .service_item:hover { background:#000; border-color:#111; }
#services_box2 .service_item:hover h4 { color:#fff; }

#connect_box.full-width { background-color:#24282D; border-color:#32B2E2; }
#connect_box	h4 { color:#A4ACB7; }
#footer_box.full-width { background-color:#B1E0F2; border-color:#32B2E2; color:#333; }
#footer_box h4 { color:#111; }
#footer_box .title { color:#222; }

.page_navigation, .page_navigation .left, .page_navigation .right	{ border-color:#0B2F3C; }

.flickr_thumbs li { border-color:#111; }