*.suo
*.vsmdi
*.cache
*.orig
*.user
TestResults
bin
obj
Bin
Packages
install
Backup
.svn
*.db
TestResult.xml
*.VisualState.xml
TestResult.html
hg-checkexec*
*.tmp
*_ReSharper*
*_UpgradeReport_*
*UpgradeLog*
Backup
Solutions/CliqFlip.Web.Mvc/CliqFlip.mdf
Solutions/CliqFlip.Web.Mvc/CliqFlip_log.LDF
Configuration/*.config
