<connectionStrings>
	<add name="default" connectionString="xxx" providerName="System.Data.SqlClient"/>
    <add name="graph" connectionString="xxx" />
    <add name="queue" connectionString="rabbitmq://localhost/CliqFlip.App" />
    <add name="cache" connectionString="redis://ubuntu:6379/"/>
</connectionStrings>
