@*this error span is only for client side rendering*@
<span class="field-validation-error" id="userInterestEmptyError">Okay, we get it, you're not very interesting. But please, for our sake, just provide us with an interest that tells us about yourself.</span>
<strong>Add your interests</strong>
<div id="divInterestSearch">
	<input type="text" id="interestName" placeholder="Type an interest..." />
</div>
<ul id="interestsList">
</ul>

<!-- PAGE CONTENT END -->
<script id="tmplNewInterest" type="text/x-jquery-tmpl">
    
	<li style="display: none;">
		<a href='javscript:void(0)' class='remove-interest'></a>
		<div>
			<input type='hidden' class="userInterestValue" name='UserInterests[${Index}].Id' value='${Id}' />
			<input type='hidden' name='UserInterests[${Index}].Name' value='${Name}' />
			<div class="title"><p>${Name}</p></div>
            
			<div id="subcategory" style='${GenerateInterestCategoryVisibility($item.data)}' >
				<label>Category</label><br />
				<select name="UserInterests[${Index}].Category">
				</select>
			</div>
		</div>
	</li>
</script>