@model IEnumerable<CliqFlip.Web.Mvc.ViewModels.User.InterestCreate>

@Html.ValidationMessageFor(model => model)
<span class="field-validation-error" id="userInterestEmptyError">Okay, we get it, you're not very interesting. But please, for our sake, just provide us with an interest that tells us about yourself.</span>
<strong>Add your Interests</strong>
<div id="divInterestSearch">
	<input type="text" id="interestName" placeholder="Type an interest..." />
</div>
<ul id="interestsList">
</ul>