<div id="landing-content" class="main-region">
    <div class="container-fluid">
        <div class="row-fluid">
            <h2 class="logo">
                Meet new compatible people instantly!</h2>
            <h5 class="logo">
                People are making new friends online everyday.<span style="display: block;">Find someone
                    that shares interests with you right now!</span>
            </h5>
        </div>
        <div class="row-fluid login">
            <div style="display: inline-block;">
                Associated = @Microsoft.Web.Helpers.Facebook.IsFacebookUserAssociated
                Auth = @Microsoft.Web.Helpers.Facebook.IsFacebookUserAuthenticated
            </div>
        </div>
    </div>
</div>