@{
    Bundles.Reference("Content/assets/styles/site/user");
}
@model CliqFlip.Web.Mvc.ViewModels.Home.HomeUserViewModel
<div ng-app="cliqFlipApp">
    <aside class="sidebar" ng-controller="NavController">
        <ul class="nav nav-tabs nav-stacked">
            <li ng-class="{active:isActive('/u')}" >
                <a ng-href="/u" href="#">
                    <div>
                        <div class="ico">
                            <img src="@Url.Content("~/Content/assets/images/icons/ico-home.png")">
                        </div>
                        <div class="title">Home</div>
                    </div>
                    <div class="arrow">
                        <div class="bubble-arrow-border"></div>
                        <div class="bubble-arrow"></div>
                    </div>
                </a>
            </li>
            <li ng-class="{active:isActive('/candidates')}" >
                <a ng-href="/candidates" href="#">
                    <div>
                        <div class="ico">
                            <img src="@Url.Content("~/Content/assets/images/icons/user.png")">
                        </div>
                        <div class="title">Candidates</div>
                    </div>
                    <div class="arrow">
                        <div class="bubble-arrow-border"></div>
                        <div class="bubble-arrow"></div>
                    </div>
                </a>
            </li>
        </ul>
    </aside>
    <div class="main-container">
        <div class="container-fluid">
            <section>
                <div ng-view></div>
            </section>
        </div>
    </div>
</div>
@{
    Bundles.AddPageData("CliqFlip.App.UserData", Model);
    Bundles.AddInlineScript(@"
    $(function(){
        var header = $('.navbar-fixed-top');
        var footer = $('.navbar-fixed-bottom');
        var mainContainer = $('.main-container');
        
          $(window).resize(function () {
            var suggesterUserList = $('.suggested-user-column');
            var height = $(this).height() - 60 - footer.height(); //padding-top is 60px       
            mainContainer.height(height);
            suggesterUserList.height(height);
        });
        
        $(window).resize();
    });", "inline");
}
