 @{
    Bundles.Reference("Content/assets/styles/site/user");  
}
<div ng-app>
    <aside class="sidebar">
        <ul class="nav nav-tabs nav-stacked">
            <li class="active">
                <a href="index.html">
                    <div>
                        <div class="ico">
                            <img src="@Url.Content("~/Content/assets/images/icons/ico-home.png")">
                        </div>
                        <div class="title">Home</div>
                    </div>
                    <div class="arrow">
                        <div class="bubble-arrow-border"></div>
                        <div class="bubble-arrow"></div>
                    </div>
                </a>
            </li>
        </ul>
    </aside>
    <div class="main-container" ng-controller="UserController">
        <div class="container-fluid">
            <section>
                <div class="row-fluid">
                    <div class="span2">
                        <div class="row-fluid">
                            <div class="span4 suggested-user-list">
                                <div class="suggested-user">
                                    <a href="/leonbjr/" class="ImgLink">
                                        <img src="http://media-cache-ec5.pinterest.com/avatars/leonbjr_1343235907.jpg" class="profile user_image" alt="Profile picture of Leon Burks Jr">
                                    </a>
                                    <p><a href="/leonbjr/">Leon Burks Jr</a> Very nice.. every gentleman should know the difference.</p>
                                </div><div class="suggested-user">
                                          <a href="/leonbjr/" class="ImgLink">
                                              <img src="http://media-cache-ec5.pinterest.com/avatars/leonbjr_1343235907.jpg" class="profile user_image" alt="Profile picture of Leon Burks Jr">
                                          </a>
                                          <p><a href="/leonbjr/">Leon Burks Jr</a> Very nice.. every gentleman should know the difference.</p>
                                      </div><div class="suggested-user">
              
                                                <a href="/leonbjr/" class="ImgLink">
  
  
                                                    <img src="http://media-cache-ec5.pinterest.com/avatars/leonbjr_1343235907.jpg" class="profile user_image" alt="Profile picture of Leon Burks Jr">

                                                </a>

                                                <p><a href="/leonbjr/">Leon Burks Jr</a> Very nice.. every gentleman should know the difference.</p>
                                            </div><div class="suggested-user">
              
                                                      <a href="/leonbjr/" class="ImgLink">
  
  
                                                          <img src="http://media-cache-ec5.pinterest.com/avatars/leonbjr_1343235907.jpg" class="profile user_image" alt="Profile picture of Leon Burks Jr">

                                                      </a>

                                                      <p><a href="/leonbjr/">Leon Burks Jr</a> Very nice.. every gentleman should know the difference.</p>
                                                  </div><div class="suggested-user">
              
                                                            <a href="/leonbjr/" class="ImgLink">
  
  
                                                                <img src="http://media-cache-ec5.pinterest.com/avatars/leonbjr_1343235907.jpg" class="profile user_image" alt="Profile picture of Leon Burks Jr">

                                                            </a>

                                                            <p><a href="/leonbjr/">Leon Burks Jr</a> Very nice.. every gentleman should know the difference.</p>
                                                        </div>
                                <div class="span4">
                                    <p>HI</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@{
    Bundles.AddInlineScript(@"
    $(function(){
        var header = $('.navbar-fixed-top');
        var footer = $('.navbar-fixed-bottom');
        var mainContainer = $('.main-container');
        var suggesterUserList = $('.suggested-user-list');
        
          $(window).resize(function () {
            var height = $(this).height() - 60 - footer.height(); //padding-top is 60px       
            mainContainer.height(height);
            suggesterUserList.height(height);
        });
        
        $(window).resize();
    });", "inline");
}