<style type="text/css">
     body
     {
         background-color: #F1F1F1;
         padding-top: 60px;
         padding-bottom: 40px;
     }
    /*MAIN CONTAINER*/

     .main-container
     {
         background-color: white;
         min-height: 500px;
         margin-left: 100px;
         border-top: 1px solid #E5E5E5;
         border-left: 1px solid #E5E5E5;
     }
    /*SIDEBAR*/

     .sidebar
     {
         width: 100px;
         float: left;
         height: 100%;
         position: fixed;
         left: 0;
         top: 60px;
         background-color: #F1F1F1;
         border-right: 1px solid #E5E5E5;
     }

     .sidebar .nav
     {
         margin-bottom: 0;
         position: relative;
     }

     .sidebar .nav li
     {
         width: 100%;
     }

     .sidebar .nav-tabs > li > a:hover, .sidebar .nav-tabs > li.active > a
     {
         background: none;
         color: #08C !important;
     }

     .sidebar .nav-tabs > li.active .arrow
     {
         display: block !important;
     }

     .sidebar .nav-tabs.nav-stacked > li > a
     {
         position: relative;
         border: none;
         border-radius: none;
         -webkit-border-radius: none;
         -moz-border-radius: none;
         text-align: center;
         font-size: 11px;
         height: 60px;
         display: block;
         color: #555;
     }

     .sidebar .nav-tabs.nav-stacked > li.active img, .sidebar .nav-tabs.nav-stacked > li > a:hover img
     {
         opacity: 1;
         -moz-opacity: 1;
         filter: alpha(opacity=1);
     }

     .sidebar .nav-tabs.nav-stacked > li > a img
     {
         display: inline;
         opacity: 0.5;
         -moz-opacity: 0.5;
         filter: alpha(opacity=5);
     }

     .sidebar .nav-tabs.nav-stacked > li:first-child > a
     {
         border-radius: 0 !important;
         -webkit-border-radius: none !important;
         -moz-border-radius: none !important;
     }

     .sidebar .nav-tabs.nav-stacked > li:last-child > a
     {
         border-radius: 0 !important;
         -webkit-border-radius: none !important;
         -moz-border-radius: none !important;
     }
    
    /*ARROW*/

     .arrow
     {
         display: none;
     }

     .bubble-arrow-border
     {
         border-color: transparent #E5E5E5 transparent transparent;
         border-style: solid;
         border-width: 10px;
         height: 0;
         width: 0;
         position: absolute;
         top: 30px;
         right: 0px;
     }

     .bubble-arrow
     {
         border-color: transparent #FFF transparent transparent;
         border-style: solid;
         border-width: 10px;
         height: 0;
         width: 0;
         position: absolute;
         top: 30px;
         right: -1px;
     }
 </style>
<aside class="sidebar">
    <ul class="nav nav-tabs nav-stacked">
        <li class="active">
            <a href="index.html">
                <div>
                    <div class="ico">
                        <img src="@Url.Content("~/Content/assets/images/icons/ico-home.png")">
                    </div>
                    <div class="title">
                        Home
                    </div>
                </div>

                <div class="arrow">
                    <div class="bubble-arrow-border"></div>
                    <div class="bubble-arrow"></div>
                </div>
            </a>
        </li>
    </ul>
</aside>
<div class="main-container">
    <div class="container-fluid">
        <section>
            <div class="row-fluid">
                <div class="span4">
                    <div class="row-fluid" style="border-bottom: solid 1px #DDD">
                        <div class="span4">
                            <h3>:)</h3>
                        </div>
                        <div class="span4">
                            <p>HI</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>