@{
    Bundles.Reference("Content/assets/styles/site/user");
}
@model CliqFlip.Web.Mvc.ViewModels.Home.HomeUserViewModel
<div ng-app="cliqFlipApp">
    <aside class="sidebar">
        <ul class="nav nav-tabs nav-stacked">
            <li class="active">
                <a href="index.html">
                    <div>
                        <div class="ico">
                            <img src="@Url.Content("~/Content/assets/images/icons/ico-home.png")">
                        </div>
                        <div class="title">Home</div>
                    </div>
                    <div class="arrow">
                        <div class="bubble-arrow-border"></div>
                        <div class="bubble-arrow"></div>
                    </div>
                </a>
            </li>
        </ul>
    </aside>
    <div class="main-container">
        <div class="container-fluid">
            <section>
                <div ng-view></div>
            </section>
        </div>
    </div>
</div>
@{
    Bundles.AddPageData("CliqFlip.App.UserData", Model);
    Bundles.AddInlineScript(@"
    $(function(){
        var header = $('.navbar-fixed-top');
        var footer = $('.navbar-fixed-bottom');
        var mainContainer = $('.main-container');
        var suggesterUserList = $('.suggested-user-list');
        
          $(window).resize(function () {
            var height = $(this).height() - 60 - footer.height(); //padding-top is 60px       
            mainContainer.height(height);
            suggesterUserList.height(height);
        });
        
        $(window).resize();
    });", "inline");

    Bundles.AddInlineScript(@"
    $(function(){
        var opts = {
          lines: 5, // The number of lines to draw
          length: 7, // The length of each line
          width: 4, // The line thickness
          radius: 10, // The radius of the inner circle
          corners: 1, // Corner roundness (0..1)
          rotate: 66, // The rotation offset
          color: '#000', // #rgb or #rrggbb
          speed: 1, // Rounds per second
          trail: 100, // Afterglow percentage
          shadow: false, // Whether to render a shadow
          hwaccel: false, // Whether to use hardware acceleration
          className: 'spinner', // The CSS class to assign to the spinner
          zIndex: 2e9, // The z-index (defaults to 2000000000)
          top: 'auto', // Top position relative to parent in px
          left: 'auto' // Left position relative to parent in px
        };
        var target = $('.loading-users')[0];
        var spinner = new Spinner(opts).spin(target);
    });", "inline");
}