@{
	Layout = "~/Views/User/_Profile.cshtml";
}
@using System.Globalization
@using CliqFlip.Web.Mvc.ViewModels.User
@model UserInterestsViewModel

<div id="interests-container">
	@foreach (UserInterestsViewModel.InterestViewModel interest in Model.Interests)
	{
		<div class="user-interest">
			<div class="user-interest-title">
				<strong>@interest.Name</strong>
				<a class="user-interest-title-add-photo" href="javascript:void(0);" title="add photo"><span>add photo</span></a>
				<div class="clear"></div>
			
			</div>
			
			<div class="user-interest-content">
				hello world
			</div>
		</div>
	}
	<div class="clear"></div>
</div>
<div class="user-interest-add-photo-dialog" id="add-photo">
	<h2>Add a photo</h2>
</div>
    

@section scripts
{
	<script type="text/javascript" src="@Url.Content("/Content/js/user/interests.js")"> </script>
		<script type="text/javascript">
		$(function() {
			InitInterests(@(Model.CanEdit.ToString(CultureInfo.InvariantCulture).ToLower()));
			InitSaveImages();
		});
	</script>
}