@{
	Layout = "~/Views/User/_Profile.cshtml";
}
@using CliqFlip.Web.Mvc.ViewModels.User
@model CliqFlip.Web.Mvc.ViewModels.User.UserInterestsViewModel

<div id="interests-container">
	@foreach (UserInterestsViewModel.InterestViewModel interest in Model.Interests)
	{
		<div class="user-interest">
			<div class="user-interest-title">
				<strong>@interest.Name</strong>
				<a class="user-interest-title-add-photo" href="javascript:void(0);" title="add photo"><span>add photo</span></a>
				<div class="clear"></div>
			
			</div>
			
			<div class="user-interest-content">
				hello world
			</div>
		</div>
	}
	<div class="clear"></div>
</div>
    

@section scripts
{
}