@model CliqFlip.Web.Mvc.ViewModels.User.UserLoginViewModel
<div style="width:500px;margin:0 auto;padding:50px;height:320px;">
	<h1>Please login</h1>
	@using (Html.BeginForm("Login", "User", new { ViewBag.ReturnUrl }))
 {
		@Html.ValidationSummary(true)
		<fieldset>
			@{ Html.RenderPartial("_Login"); }
		</fieldset>
 }
</div>