@model CliqFlip.Web.Mvc.ViewModels.User.MessageViewModel

<div class="message">
    <a href="@Url.Action("Index", "User", new { username = Model.Sender })">
        <img src="@Model.SenderImageUrl" alt="Alternate Text" class="profile-image" />
    </a>
    <strong>
        @Html.ActionLink(Model.Sender, "Index", "User", new { username = Model.Sender }, null)
    </strong>
    <p>
        @Model.Text
    </p>
</div>