@using CliqFlip.Web.Mvc.ViewModels.User
@model IEnumerable<MessageViewModel>

@{
    Func<int, IEnumerable<MessageViewModel>, bool> theresMoreElements = (int currentIndex, IEnumerable<MessageViewModel> messages) =>
    {
        return currentIndex < messages.Count() - 1;
    };
}
@for (int i = 0; i < Model.Count(); i++)
{
    var currentMessage = Model.ElementAt(i);
    MessageViewModel nextMessage = null;
    
    <div class="message">
        <img src="@currentMessage.SenderImageUrl" alt="Alternate Text" class="profile-image" />
        <strong>@currentMessage.Sender</strong>
        <p>
            @currentMessage.Text
        </p>
    
        @while (theresMoreElements(i, Model))
        {
            nextMessage = Model.ElementAt(i + 1);
            if (currentMessage.Sender == nextMessage.Sender)
            {
                i++;
                currentMessage = Model.ElementAt(i);   
                <p>
                    @currentMessage.Text
                </p>
            }
            else
            {
                break;
            }
        }
    </div>
}