@model CliqFlip.Web.Mvc.ViewModels.User.RegistrationViewModel
<div id="landing-content" class="header-region">
    <div class="row-fluid">
        <h2 class="logo">
            We're crunching some numbers</h2>
        <h5 class="logo">
            Our one-of-a-kind algorithm puts <strong>you</strong> into the equation.<span style="display: block;">We're
                                                                                        learning quite a bit about you. We'll be done in a few seconds</span>
        </h5>
    </div>
</div>
<div id="registration-progress" class="hero-unit">
    <div id="registration-feedback"></div>
    <div class="progress progress-striped active">
        <div class="bar">
        </div>
    </div>
</div>

@{
    //TODO Use config for key/values
    Bundles.AddInlineScript(@"
    $(function () {
        var pusher = new Pusher('3aa270fd00dec97e5b04');
        var channel = pusher.subscribe('registration-" + @Model.Username + @"');
        var regProgBox = $('#registration-progress');
        var regProgFeedback = $('#registration-feedback');
        var progBar = $('.bar');
        channel.bind('reg-examine', function(data) {
            regProgFeedback.html('<h4>Examining data</h4><h5>(Learning who you are)</h5>');
            regProgBox.slideDown('fast','swing',function(){
                progBar.css('width','25%');
            });
        });
        channel.bind('reg-find-compat-people', function(data) {
            setTimeout(function(){
                regProgFeedback.html('<h4>Finding compatible people</h4>');
                progBar.css('width','50%');
            }, 2000);
        });
        channel.bind('reg-organizing', function(data) {
            regProgFeedback.html('<h4>Organizing</h4>');
            progBar.css('width','75%');
            setTimeout(login, 1000);
        });
     });

    function login()
    {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/user/login');
        document.body.appendChild(form);
        form.submit();
    }
", "inline");
}
