@model CliqFlip.Web.Mvc.Areas.Admin.ViewModels.Test.SimpleSendEmailViewModel
<h2>
	Hi this is a test sent to: @Model.ToEmailAddress</h2>
<h3>
	We wanted to make you aware of the follow: @Model.Subject</h3>
<p>@Model.Body</p>