@model CliqFlip.Web.Mvc.ViewModels.Home.HomeUserViewModel_Old

@{
    Layout = "~/Views/Shared/_Layout.Bootstrap.cshtml";
    ViewBag.Title = "CliqFlip - Discover More";
    //bootstrap our initial data - http://backbonejs.org/#FAQ-bootstrap
    Bundles.AddInlineScript("$(function(){CliqFlip.App.UserData = " + Json.Encode(Model) + "; CliqFlip.App.Mvc.start();});", "inline");
}
<div id="header">
</div>

<div id="landing-content" class="main-region">
</div>
<div id="user-content" class="main-region">
</div>

<div class="modal hide" id="main-modal">
</div>

<div class="modal hide fade coming-soon" id="comingSoonModal">
    <div class="alert alert-block alert-info fade in">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="alert-heading">Oh snap! You found a hidden feature!</h4>
        <p>Congrats! You've found a part of CliqFlip that isn't quite done yet. Now go tell the world how you knew about this feature before it was cool.</p>
        <p>
            <a class="btn btn-info" data-dismiss="modal" href="#">Okay, got it. Thanks for wasting my time.</a>
        </p>
    </div>
</div>