@{
    Microsoft.Web.Helpers.Facebook.Initialize("195112700588724", "93c79e6ba9263c0ed59884f6aaa45195");
}
@Microsoft.Web.Helpers.Facebook.GetInitializationScripts()
@{
    Bundles.AddInlineScript(@"
    function loginToFacebook(parameters) {
                var form = document.createElement('form');
                var auth = FB.getAuthResponse();
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/user/login');
                var field = document.createElement('input');
                field.setAttribute('type', 'hidden');
                field.setAttribute('name', 'accessToken');
                field.setAttribute('value', auth.accessToken);
                form.appendChild(field);

                document.body.appendChild(form);
                form.submit();
                
                return false; //prevents facebook from rloading
     }
");
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">CliqFlip</a>
        </div>
    </div>
</div>
<div id="landing-content" class="main-region">
    <div class="container-fluid">
        <div class="row-fluid">
            <h2 class="logo">
                Meet new compatible people instantly!</h2>
            <h5 class="logo">
                There are people you want to know and there are those who are waiting to meet you.<span
                    style="display: block;">Let's get to business.</span>
            </h5>
        </div>
        <div class="row-fluid login">
            <div style="display: inline-block;">
                @Microsoft.Web.Helpers.Facebook.LoginButtonTagOnly("Login", onLogin: "loginToFacebook(this);", size: "medium",length:"long")
            </div>
        </div>
    </div>
</div>
