<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">CliqFlip</a>
        </div>
    </div>
</div>
<div id="landing-content" class="main-region">
    <div class="container-fluid">
        <div class="row-fluid">
            <h2 class="logo">
                Meet new compatible people instantly!</h2>
            <h5 class="logo">
                People are making new friends online everyday.<span style="display: block;">Find someone
                    that shares interests with you right now!</span>
            </h5>
        </div>
        <div class="row-fluid login">
            <div style="display: inline-block;">
                @Facebook.LoginButton("http://alpha.cliqflip.com/", buttonText: "Login", size: "large", extendedPermissions: "user_interests,user_likes,user_location,user_events,user_checkins,user_about_me,user_activities,user_education_history,user_groups,user_hometown,user_status,read_stream")
            </div>
        </div>
    </div>
</div>
