<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                                                                                             class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="#">CliqFlip</a>
        </div>
    </div>
</div>
<div id="landing-content" class="main-region">
    <div class="container-fluid">
        <div class="row-fluid">
            <h2 class="logo">
                Meet new compatible people instantly!</h2>
            <h5 class="logo">
                People are making new friends online everyday.<span style="display: block;">
                                                                  Find someone that shares interests with you right now!</span>
            </h5>
        </div>
    </div>
</div>