<div class="interestFeedItem">
	<a value="{{medium.MediumId}}" title="{{model.Description}}" href="{{model.FullImage}}" medium="{{model.MediumType}}">
		<img src="{{model.MediumImage}}"
				alt="{{model.Description}}"/>
	</a>
	<p>
		{{model.Description}}
	</p>
</div>