<a value="{{model.MediumId}}" title="{{model.Title}}" href="{{model.VideoUrl}}" medium="{{model.MediumType}}">
    <img src="{{model.MediumImage}}" alt="{{model.Title}}"/>
    <span class="video-indicator"></span>
</a>
<p>
    {{model.Description}}
</p>