<!--<a value="{{model.MediumId}}" title="{{model.Title}}" href="{{model.VideoUrl}}" medium="{{model.MediumType}}">
    <img src="{{model.MediumImage}}" alt="{{model.Title}}"/>
    <span class="video-indicator"></span>
</a>
<p>
    {{model.Description}}
</p>-->

<div class="item-header" style="border-bottom: 1px solid #26ADE4;">
  <!--The person that posted it-->
  <h4 style="
    display: inline-block;
    height: 40px;
    padding-left: 20px;">
    {{model.Username}}
  </h4>
  <img class="profile-image" src="http://assets.beta.cliqflip.com/Images/acac3b9f-b8b7-4467-b8c4-bbd6d4c883bb.jpg" alt="username1" style="
    max-height: 40px;
    float: left;">

    <!--the interest it belongs to-->
    <h5 style="text-align:right;position: absolute;top: 0;right: 0;background-color: lightblue;padding: 10px 30px;border-radius: 0px 0px 0px 25px;">
      {{model.Interest}}
    </h5>
</div>
<div>
  <strong style="display: block;text-align: center;">
    {{model.Title}}
  </strong>
  <p style="width: 50%;float: right;">
    {{model.Description}}
  </p>
  <img style="float: left;max-width: 45%;margin: 0 2%;" src="http://assets.beta.cliqflip.com/Images/acac3b9f-b8b7-4467-b8c4-bbd6d4c883bb.jpg" />
  <div class="clear"></div>
</div>

<div class="detailed-content" style="display: none;">
  <iframe></iframe>
</div>