<a value="{{model.MediumId}}" title="{{model.Title}}" href="{{model.WebSiteUrl}}" medium="{{model.MediumType}}">
    <img src="{{model.MediumImage}}" 
        alt="{{model.Description}}"/>
</a>
<p>
    {{model.Description}}
</p>