<a value="{{model.MediumId}}" title="{{model.Title}}" href="{{model.WebSiteUrl}}" medium="{{model.MediumType}}">
    <strong>
        {{model.Title}}
    </strong>
    <div>
        {{model.Description}}
    </div>
</a>