<div class="item-header" style="border-bottom: 1px solid #26ADE4;">
  <!--The person that posted it-->
  <h4>
    <a title="{{model.Username}}" href="{{model.UserPageUrl}}">{{model.Username}}</a>
  </h4> shared
  <img class="profile-image" src="{{model.ImageUrl}}" alt="{{model.Username}}"/>

  <strong>
    {{model.Title}}
  </strong>
    
  <!--the interest it belongs to-->
  <h5>
    {{model.Interest}}
  </h5>
</div>
<div>
  <p>
    {{model.Description}}
  </p>
</div>
<div class="detailed-content">
</div>