<appSettings>
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="AWSAccessKey" value="xxx"/>
	<add key="AWSSecretKey" value="xxx"/>
	<add key="S3Bucket" value="assets.alpha.cliqflip.com"/>
	<add key="SESFromEmail" value="CliqFlip&lt;support@cliqflip.com&gt;"/>
	<add key="FacebookAppId" value="xxx" />
	<add key="FacebookAppSecret" value="xxx" />
	<add key="YahooAppId" value="xxx" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
</appSettings>
