@model CliqFlip.Web.Mvc.ViewModels.Notification.LatestNotificationViewModel
@if (Model != null)
{
	<div id="notification" class="sticky hide">
		<p>@Html.Raw(Model.Message)</p>
		<a class="close" href="javascript:void(0);">
			<img src="@Url.Content("/Content/assets/img/icon-close.png")" /></a>
	</div>
	<script type="text/javascript" language="javascript">
		$(function () {
			InitNotification("@Model.NotificationCookie", "@Model.Id");
		});	
	</script>
}