@model CliqFlip.Web.Mvc.ViewModels.User.UserInterestsViewModel.InterestMediumViewModel

<a rel="interest-@interest.UserInterestId" value="5" title="title 5" href="http://www.youtube.com/v/1kmI2UdHdlQ?version=3&amp;autohide=1">
    <strong>
        Some article with no image to use as a preview of the content. 
    </strong>
    <div>
        Some description about an article Some description about an article Some description about an article Some description about an article
    </div>
</a>
<p>
    I've watched this 2012 Britain's Got Talent clip over 20 times in the past 3 hours and each time I burst into tears. I can't tell you what I find more beautiful, their voices or their friendship.
</p>