<div class="row-fluid activity-item">
    <div class="span2">
        <a href="#">
            <img src="{{ProfileImageUrl}}"/>
        </a>
    </div>
    <div class="span10">
        <b>{{Username}}:</b> {{CommentText}}
    </div>
</div>