<div class="initial-preview">
    <div class="row-fluid">
        <div class="span3">
            <img src="{{ProfileImageUrl}}" alt="{{Username}}"/>
        </div>
        <div class="span9">
            <div class="row-fluid">
                <div class="span12">
                    <span class="label label-info user-info" rel="popover" data-userid="{{Username}}" data-original-title="A Little About {{Username}}...">
                        {{Username}}
                    </span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <h6>
                        <small>Posted in {{Interest}}</small>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <a href="{{PostUrl}}" title="{{Description}}">
                <img class="feed-image" src="{{MediumImage}}" alt="{{Description}}"/>
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 post-description">
            <p>{{Description}}</p>
        </div>
    </div>
    <div class="row-fluid feed-simple-interact">
        <div class="span3">
            <i class="icon-thumbs-up"></i>
            <b>Like</b>
        </div>
        <div class="span6">
            <b>{{CommentCount}} Comments</b>
        </div>
        <div class="span3 share">
            <b>Share</b>
        </div>
    </div>
</div>
<div class="row-fluid activity">
    <div class="span12 well">
        {{#Comments}}
        <div class="row-fluid comment">
            <div class="span12">
                <b>{{Username}}:</b>{{CommentText}}
            </div>
        </div>
        {{/Comments}}
        <div class="row-fluid">
            <div class="span4">
            </div>
            <div class="span8">
                <a href="#">See more</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span9">
                    <textarea class="span12" rows="2" placeholder="Comment"></textarea>
                </div>
                <div class="span3">
                    <button class="btn btn-mini btn-primary" href="#">Send</button>
                </div>
            </div>
        </div>
    </div>