<div class="modal-body full-height">
    <div class="row-fluid full-height">
        <div class="span4 post-details full-height">
            <div class="user-details">
                <div class="row-fluid">
                    <a class="span4" >
                        <img src="http://assets.beta.cliqflip.com/Images/acac3b9f-b8b7-4467-b8c4-bbd6d4c883bb.jpg"/>
                    </a>
                    <div class="span8">
                        <div class="row-fluid">
                            <div class="span12">
                                <h3>{{Username}}</h3>
                                <p>
                                    <small>{{Headline}}</small>
                                </p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <h3>Not a Friend</h3>
                                <p class="be-friends">
                                    <small>Do you wanna be friends?</small>
                                </p>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
                                        Yes
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-track="" data-category="skeleton" data-action="follow" data-label="post popup" href="#">Follow</a>
                                        </li>
                                        <li>
                                            <a data-track="" data-category="skeleton" data-action="send message" data-label="post popup" href="#">Send Message</a>
                                        </li>
                                        <li>
                                            <a data-track="" data-category="skeleton" data-action="wave" data-label="post popup" href="#">Wave</a>
                                        </li>
                                        <li>
                                            <a data-track="" data-category="skeleton" data-action="share back" data-label="post popup" href="#">Share Back</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <h3>You and ShirtPants both like&hellip;</h3>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 ">
                        <span class="label label-info">Cheese</span>
                        <span class="label label-info">Wiz</span>
                        <span class="label label-info">Sports</span>
                        <span class="label label-info">Fishing</span>
                    </div>
                </div>
            </div>
            <div class="row-fluid activity">
                <div class="span12 well">
                    <div class="row-fluid">
                        <div class="span12">
                            <b>
                                <a href="#">Like</a> -
                                <a href="#">Repost</a> -
                                <a href="#">Report</a>
                            </b>
                        </div>
                    </div>
                    <div class="row-fluid comment">
                        <div class="span2">
                            <a href="#">
                                <img src="http://assets.beta.cliqflip.com/Images/42dc0330-fb59-4510-97ab-df7198fb7228.jpg"/>
                            </a>
                        </div>
                        <div class="span10">
                            <b>Scott Coates:</b> Tasdfl asldfkas dflksdf
                        </div>
                    </div>
                    <div class="row-fluid comment">
                        <div class="span2">
                            <a href="#">
                                <img src="http://assets.beta.cliqflip.com/Images/07ba5f99-a400-4ef8-8a04-9a4ee0ca14dd.jpg"/>
                            </a>
                        </div>
                        <div class="span10">
                            <b>Andrew G</b> Likes this <i class="icon-thumbs-up"></i>
                        </div>
                    </div>
                    <div class="row-fluid comment">
                        <div class="span2">
                            <a href="#">
                                <img src="http://assets.beta.cliqflip.com/Images/07ba5f99-a400-4ef8-8a04-9a4ee0ca14dd.jpg"/>
                            </a>
                        </div>
                        <div class="span10">
                            <b>Andrew G:</b> Tasdfl asldfkas dflksdf Tasdfl asldfkasTasdfl asldfkasTasdfl asldfkasTasdfl asldfkas  Tasdfl asldfkas Tasdfl asldfkas
                        </div>
                    </div>
                    <div class="row-fluid comment">
                        <div class="span2">
                            <a href="#">
                                <img src="http://assets.beta.cliqflip.com/Images/07ba5f99-a400-4ef8-8a04-9a4ee0ca14dd.jpg"/>
                            </a>
                        </div>
                        <div class="span10">
                            <b>Andrew G</b> Reposted this <i class="icon-refresh"></i>
                        </div>
                    </div>
                    <div class="row-fluid comment">
                        <div class="span2">
                            <a href="#">
                                <img src="http://assets.beta.cliqflip.com/Images/07ba5f99-a400-4ef8-8a04-9a4ee0ca14dd.jpg"/>
                            </a>
                        </div>
                        <div class="span10">
                            <b>Andrew G:</b> Tasdfl asldfkas dflksdf Tasdfl asldfkasTasdfl asldfkasTasdfl asldfkasTasdfl asldfkas  Tasdfl asldfkas Tasdfl asldfkas
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span9">
                            <textarea class="span12" rows="2" placeholder="Comment"></textarea>
                        </div>
                        <div class="span3">
                            <button class="btn btn-mini btn-primary" href="#">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span8 media-content">
            <div class="row-fluid">
                <div class="span11">
                    <b>
                        <a href="#">Like</a> -
                        <a href="#">Repost</a> -
                        <a href="#">Report</a>
                    </b>
                </div>
                <div class="span1">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <img src="{{ImageUrl}}"/>
                    <h4>{{ImageDescription}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
