<div class="initial-preview">
    <div class="row-fluid user-details">
        <div class="span3">
            <img src="{{ProfileImageUrl}}" alt="{{Username}}"/>
        </div>
        <div class="span9">
            <div class="row-fluid">
                <div class="span12">
                    <h5>
                        {{Username}}
                    </h5>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <h6>
                        <small>Posted in {{Interest}}</small>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    
    
    {{#Title}}
    <div class="row-fluid select-post-item">
        <div class="span12">
            <a href="{{PostUrl}}" class="post-title" title="{{Description}}">
                {{Title}}
            </a>
        </div>
    </div>
    {{/Title}}
    
    {{#MediumImage}}
    <div class="row-fluid">
        <div style="position:relative;" class="span12">
            <a class="select-post-item" href="{{PostUrl}}" title="{{Description}}">
                <img class="feed-image" src="{{MediumImage}}" alt="{{Description}}"/>
                {{#VideoUrl}}
                <img src="/Content/assets/img/video-play.png" style="position: absolute;top: 40%;left: 40%;" class="video-indicator" />
                {{/VideoUrl}}
            </a>
            
        </div>
    </div>
    {{/MediumImage}}

    {{^WebSiteUrl}}
    {{^VideoUrl}}
    <div class="row-fluid">
        <div class="span12 post-description">
            <p>{{Description}}</p>
        </div>
    </div>
    {{/VideoUrl}}
    {{/WebSiteUrl}}

    <div class="row-fluid feed-simple-interact">
        <div class="span4">
            {{#IsLikedByUser}}
            <i class="icon-check"></i>
            <small>
                Liked it
            </small>
            {{/IsLikedByUser}}
            {{^IsLikedByUser}}
            <a href="#" class="like-interest-button">
                <i class="icon-thumbs-up"></i>
                <b>Like</b>
            </a>
            {{/IsLikedByUser}}
        </div>
        <div class="span2">
        </div>
        <div class="span6">
            <b>
                <a class="select-post-item" href="{{PostUrl}}" class="comment-count">{{commentCountDescription}}</a>
            </b>
        </div>
    </div>
</div>
<div class="row-fluid activity">
    <div class="span12 well">
        {{#Comments}}
        <div class="row-fluid comment">
            <div class="span12">
                <b>{{Username}}:</b>{{CommentText}}
            </div>
        </div>
        {{/Comments}}
        {{#hasRemainingComments}}
        <div class="row-fluid">
            <div class="span12 see-more-comments">
                <a class="select-post-item" href="{{PostUrl}}" title="See {{commentCountDescription}}">See more comments</a>
            </div>
        </div>
        {{/hasRemainingComments}}
        <div class="span12 see-more-comments add-comment-area">
            <a class="btn btn-mini btn-primary select-post-item" href="{{PostUrl}}">Add Comment</a>
        </div>
    </div>
</div>