<div class="initial-preview">
    <div class="row-fluid">
        <div class="span7">
            <img src="{{ProfileImageUrl}}" alt="{{Username}}"/>
        </div>
        <div class="span5">
            <div class="row-fluid">
                <div class="span12">
                    <span class="label label-info user-info" rel="popover" data-userid="{{Username}}" data-original-title="A Little About {{Username}}...">
                        {{Username}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>