<div class="initial-preview">
    <div class="row-fluid">
        <div class="span6">
            <a class="select-user-button" href="{{UserPageUrl}}">
                <img src="{{ProfileImageUrl}}" alt="{{Username}}"/>
            </a>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span12">
                    <h5>
                        {{Username}}
                    </h5>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <h5>
                        {{MajorLocationName}}
                    </h5>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <span class="label common-interest-label">
                        {{commonInterestCountDescription}}
                    </span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <span class="label label-inverse common-interest-label">
                        {{relatedInterestCountDescription}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {{#InterestsInCommon}}
    <div class="row-fluid">
        <div class="span12">
            {{#IsExactMatch}}
            <span class="label">
                {{Name}}
            </span>
            {{/IsExactMatch}}
            {{^IsExactMatch}}
            <span class="label label-inverse">
                {{Name}}
            </span>
            {{/IsExactMatch}}
        </div>
    </div>
    {{/InterestsInCommon}}
</div>
<div class="row-fluid activity">
    <div class="span12 well">
        <div class="span12 see-more-comments">
            <a class="btn btn-mini btn-primary" href="{{PostUrl}}">View Profile</a>
        </div>
    </div>
</div>