<div class="navbar-inner">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand span1" href="#">CliqFlip</a>
        <div class="nav-collapse collapse">
            <div id="search-container">
           
            </div>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <img class="header-profile-image dropdown-toggle" data-toggle="dropdown" src="{{ProfileImageUrl}}" />
                    <a id="toggle-settings-menu" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{Username}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#contact">Profile</a>
                        </li>
                        <li>
                            <a href="#contact">Account</a>
                        </li>
                        <li>
                            <a href="#contact">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
