<div class="navbar-search">
    <div class="input-append">
        <input class="span4" id="search-box" size="16" autocomplete="off" type="text" placeholder="Search..." />
        <button id="btn-search" class="btn" type="button">
            <i class="icon-search"></i>
        </button>
    </div>
</div>