/*
@reference ../Site.scss
*/
 body
     {
         background-color: #D7D7D7;
         padding-top: 60px;
     }

     .suggested-user-list
     {
         overflow-y: auto;
         &::-webkit-scrollbar{
             height: 7px;
             -webkit-appearance: none;
             width: 7px;
         }
     
         &::-webkit-scrollbar-thumb
         {
             background-color: #B1B1B1;
             border-radius: 4px;
             -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
         }

         h5{margin:0;font-weight:bold;}
         h6{margin:0;}
     }

     .suggested-user
     {
         border-top: 1px solid #FCFAFA;
         border-bottom: 1px solid #D9D4D4;
         padding: 10px 15px;
         background-color: #F2F0F0;
         position: relative;
         img{max-width:50px;max-height:50px;}
     }
    
    /*MAIN CONTAINER*/

     .main-container
     {
         background-color: #D7D7D7;
         min-height: 500px;
         margin-left: 100px;
     }
    /*SIDEBAR*/

     .sidebar
     {
         width: 100px;
         float: left;
         height: 100%;
         position: fixed;
         left: 0;
         top: 60px;
         background-color: #F1F1F1;
         border-right: 1px solid #E5E5E5;
     }

     .sidebar .nav
     {
         margin-bottom: 0;
         position: relative;
     }

     .sidebar .nav li
     {
         width: 100%;
     }

     .sidebar .nav-tabs > li > a:hover, .sidebar .nav-tabs > li.active > a
     {
         background: none;
         color: #08C !important;
     }

     .sidebar .nav-tabs > li.active .arrow
     {
         display: block !important;
     }

     .sidebar .nav-tabs.nav-stacked > li > a
     {
         position: relative;
         border: none;
         border-radius: none;
         -webkit-border-radius: none;
         -moz-border-radius: none;
         text-align: center;
         font-size: 11px;
         height: 60px;
         display: block;
         color: #555;
     }

     .sidebar .nav-tabs.nav-stacked > li.active img, .sidebar .nav-tabs.nav-stacked > li > a:hover img
     {
         opacity: 1;
         -moz-opacity: 1;
         filter: alpha(opacity=1);
     }

     .sidebar .nav-tabs.nav-stacked > li > a img
     {
         display: inline;
         opacity: 0.5;
         -moz-opacity: 0.5;
         filter: alpha(opacity=5);
     }

     .sidebar .nav-tabs.nav-stacked > li:first-child > a
     {
         border-radius: 0 !important;
         -webkit-border-radius: none !important;
         -moz-border-radius: none !important;
     }

     .sidebar .nav-tabs.nav-stacked > li:last-child > a
     {
         border-radius: 0 !important;
         -webkit-border-radius: none !important;
         -moz-border-radius: none !important;
     }
     .loading-users{
        position:relative;
     }
    
    /*ARROW*/

     .arrow
     {
         display: none;
     }

     .bubble-arrow-border
     {
         border-color: transparent #E5E5E5 transparent transparent;
         border-style: solid;
         border-width: 10px;
         height: 0;
         width: 0;
         position: absolute;
         top: 30px;
         right: 0px;
     }

     .bubble-arrow
     {
         border-color: transparent #D7D7D7 transparent transparent;
         border-style: solid;
         border-width: 10px;
         height: 0;
         width: 0;
         position: absolute;
         top: 30px;
         right: -1px;
     }