/*
@reference ../Site.scss
*/

.header-region {
  padding-top: 100px;
  padding-bottom: 20px; }

.logo{
    text-align: center;
}

.login{
    width:100%;
    text-align: center;
    margin-top:25px;
}

#site-notes{
    width:60%;
    margin: 7% auto 0;
}

#registration-progress{
    display:none;
    text-align:center;
    width:400px;
    margin: 30px auto 0;}