
@model CliqFlip.Web.Mvc.ViewModels.User.UserAccountViewModel.UserAccountEmailViewModel

@section beforeHeadClose
{

}

@using (Html.BeginForm("AccountEmail", "User", FormMethod.Post))
{
	<div class="editor-label">
		@Html.LabelFor(model => model.Email)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.Email)
		@Html.ValidationMessageFor(model => model.Email)
	</div>
	
	<input type="submit" class="button"/>
}

@section beforeBodyClose
{
	
}