@{
	Layout = "~/Views/User/_Profile.cshtml";
}
@model CliqFlip.Web.Mvc.ViewModels.User.UserAccountViewModel

@section beforeHeadClose
{

}
<div class="account-edit three_fourth last">
	<div class="heading_box">
		<h1>Extras</h1>
		@{ Html.RenderPartial("_Bookmarklet"); }
	</div>
	@Html.ValidationSummary(true)	
	<div class="account-edit-section">
		@{ Html.RenderPartial("Account/_Email", Model.UserAccountEmail); }
	</div>
	<div class="account-edit-section">
		@{ Html.RenderPartial("Account/_Password", Model.UserAccountPassword); }
	</div>
	<div class="account-edit-section">
		@{ Html.RenderPartial("Account/_Location", Model.UserAccountLocation); }
	</div>
</div>

@section beforeBodyClose
{
	<script type="text/javascript" src="@Url.ContentWithVersioning("/Content/assets/scripts/cliqflip/main/validate.js")"> </script>	
	<script type="text/javascript" src="@Url.ContentWithVersioning("/Content/assets/scripts/cliqflip/user/account.js")"> </script>	
	<script type="text/javascript">
		$(function(parameters) {
			InitAccountSettings();
		});
	</script>
}