/*
@reference Site.scss
*/

@import "Mixins";

.header-region {
  padding-top: 100px;
  padding-bottom: 20px; }

.logo{
    text-align: center;
}

.login{
    width:100%;
    text-align: center;
    margin-top:25px;
}

#registration-progress{
    display:none;
    text-align:center;
    width:400px;
    margin: 30px auto 0;}