/*
@reference Site.css
*/

/* MEDIA QUERIES */

/* large screens */
@media (min-width: 1200px)
{
    /* limit the width of the left area on large screens */
    #left-column
    {
        max-width: 315px;
    }
}

/* normal screens */
@media (max-width: 979px)
{
    /* removes extra bottom padding from top nav bar in small windows   */
    .navbar-fixed-top, .navbar-fixed-bottom
    {
        position: fixed;
    }
}

/* small screens, landscape phones, protrait tablet  */
@media (max-width: 767px)
{
    /* fixes the sides from being cuttoff(cliqflip logo and top right menu)  */
    .navbar-fixed-top, .navbar-fixed-bottom {
        margin-right: auto;
        margin-left: auto;
    }
    
    #search-box
    {
        width: 87%;
    }
    
    /* fixes the extra top padding */
    #main-content
    {
        margin-top: 0;
    }
    
    #main-search-box
    {
        width: 75%;
        margin-left: 3%;
    }
    
    /* rearrange the main profile image, username, counts  */
    #profile-overview
    {
        position: relative;
    }
    
    #large-profile-image
    {
        float: left;
        max-height: 200px;
    }
    
    #profile-counts
    {
        position: absolute;
        top: 100px;
        right: 0px;
    }
    
    #profile-counts .span4
    {
        display: inline-block;
    }
    
    #profile-counts .span4:first-child
    {
        padding-left: 180px;
    }
    
    #profile-counts .span4 strong
    {
        width: 100px;
        display: block;
    }
    
    
    /* fix the sharing buttons  */
    #user-share-something a
    {
        display: inline-block;
        width: 20%;
        margin-left: 4%;
    }
    
    
}

/* landscape phones  */
@media (max-width: 530px)
{
    /* mobile looks better w/o padding  */
    body
    {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    /* less padding between the numbers */
    #profile-counts .span4 strong
    {
        width: 60px;
    }
    
}

/* portrait phones */
@media (max-width: 370px)
{
    /* make main profile image smaller */
    #large-profile-image
    {
        max-width: 125px;
    }
    
    /* fix the profile counts */
    #profile-counts .span4:first-child {
        padding-left: 135px;
    }
    
    #profile-counts .span4 strong {
        width: 55px;
    }
}