/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


/* Nav bar */

/* background color override */
.navbar .navbar-inner {
  background-color: #3f9fd9;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3698D2), color-stop(90%, #3698D2), to(#368FC5));
  background-image: -webkit-linear-gradient(#3698D2, #3698D2 90%, #368FC5);
  background-image: -moz-linear-gradient(top, #3698D2, #3698D2 90%, #368FC5);
  background-image: -ms-linear-gradient(#3698D2, #3698D2 90%, #368FC5);
  background-image: -o-linear-gradient(#3698D2, #3698D2 90%, #368FC5);
  background-image: linear-gradient(#3698D2, #3698D2 90%, #368FC5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3698D2', endColorstr='#368FC5', GradientType=0);
}

@media (min-width: 1200px){
        #left-column
        {
            max-width: 315px;
        }
    }

@media (max-width: 979px){
    .navbar-fixed-top, .navbar-fixed-bottom
    {
        position: fixed;
    }
}

@media (max-width: 767px)
{
    #profile-overview
    {
        position: relative;
    }
    
    #profile-counts
    {
        position: absolute;
        top: 100px;
        right: 0px;
    }
    
    #profile-counts .span4
    {
        display: inline-block;
    }
    
    #profile-counts .span4:first-child
    {
        padding-left: 180px;
    }
    
    #profile-counts .span4 strong
    {
        width: 100px;
        display: block;
    }
    
    
    
    #large-profile-image
    {
        float: left;
        max-height: 200px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        margin-right: auto;
        margin-left: auto;
    }
    
    #main-search-box
    {
        width: 75%;
        margin-left: 3%;
    }
}


@media (max-width: 530px)
{
    body
    {
        padding-right: 0px;
        padding-left: 0px;
    }
    #profile-counts .span4 strong
    {
        width: 60px;
    }
    
}

@media (max-width: 370px)
{
    #large-profile-image
    {
        max-width: 125px;
    }
    
    #profile-counts .span4:first-child {
        padding-left: 135px;
    }
    
    #profile-counts .span4 strong {
        width: 55px;
    }
}

/*Feed*/

.feed-item
{
    width: 180px;
    margin: 5px;
    padding: 5px;
    background: #D8D5D2;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*Masonry - http://masonry.desandro.com/docs/animating.html#css_transitions */

.masonry, .masonry .masonry-brick
{
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.masonry
{
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.masonry .masonry-brick
{
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
