/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
#main-content
{
    background-color: White;
    padding-top: 45px;
    padding-bottom: 20px;
}

.landing-layout
{
    height: 100%;
}

#content-area
{
    padding-top: 20px;
}

.action-alert
{
    margin-top: 8px;
}

/* Nav bar */

.header-profile-image
{
    max-height: 35px;
}

.navbar .navbar-inner
{
    background-color: #3f9fd9;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3698D2), color-stop(90%, #3698D2), to(#368FC5));
    background-image: -webkit-linear-gradient(#3698D2, #3698D2 90%, #368FC5);
    background-image: -moz-linear-gradient(top, #3698D2, #3698D2 90%, #368FC5);
    background-image: -ms-linear-gradient(#3698D2, #3698D2 90%, #368FC5);
    background-image: -o-linear-gradient(#3698D2, #3698D2 90%, #368FC5);
    background-image: linear-gradient(#3698D2, #3698D2 90%, #368FC5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3698D2', endColorstr='#368FC5', GradientType=0);
}

#btn-search
{
    margin-left: -4px;
    margin-top: 6px;
}

.typeahead.dropdown-menu
{
    z-index: 2000;
}

#search-suggestions
{
    margin-top: -2px;
}

footer.navbar > .navbar-inner
{
    text-align: center;
    color: #666;
    background-color: #222;
    background-image: none;
}

footer.navbar > .navbar-inner a
{
    color: #999;
}

footer.navbar > .navbar-inner a:hover
{
    color: #efefef;
}

#toggle-settings-menu
{
    display: inline-block;
}

.coming-soon .alert
{
    margin-bottom: 0;
}

#post-content-region iframe.video
{
    width: 100%;
    height: 75%;
    margin-top: 5%;
    border: none;
}

#post-content-region iframe.webpage
{
    width: 100%;
    height: 90%;
}