
@import "Mixins";

.main-region {
  padding-top: 100px;
  padding-bottom: 20px; }

/* Nav bar */

.navbar .navbar-inner {
  @include gradient(#3698d2, #368fc5);
}
footer.navbar .navbar-inner {
  text-align: center;
  color: #666;
  background-color: #222;
  background-image: none;
  a {
    color: #999;
    &:hover {
      color: #efefef; } } }
