/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


        
body
{
    background-color: #E7EEF1;
}
        
#main-content
{
    background-color: White;
    padding-top: 65px;
}
#toggle-settings-menu {
    display: inline-block;
}


/* Nav bar */

/* background color override */
.navbar .navbar-inner {
  background-color: #3f9fd9;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3698D2), color-stop(90%, #3698D2), to(#368FC5));
  background-image: -webkit-linear-gradient(#3698D2, #3698D2 90%, #368FC5);
  background-image: -moz-linear-gradient(top, #3698D2, #3698D2 90%, #368FC5);
  background-image: -ms-linear-gradient(#3698D2, #3698D2 90%, #368FC5);
  background-image: -o-linear-gradient(#3698D2, #3698D2 90%, #368FC5);
  background-image: linear-gradient(#3698D2, #3698D2 90%, #368FC5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3698D2', endColorstr='#368FC5', GradientType=0);
}


#btn-search
{
    margin-left: -4px;
}


#content-area
{
    padding-top: 20px;
}


/* Add video, link, image */
#user-interest-add-text {
    text-align: left;	
}

#user-share-something a
{
    height: 50px;
    padding-top: 35px;
}
.user-interest-add-photo {
	background-image: url('/Content/assets/img/photoICON.png');
	background-repeat: no-repeat;
}

.user-interest-add-video {
	background-image: url('/Content/assets/img/YouTube_Icon.png');
	background-repeat: no-repeat;
}

.user-interest-add-link {
	background-image: url('/Content/assets/img/icons.png');
	background-repeat: no-repeat;
}


/* profile */
#profile-overview
{
    padding: 10px;
    margin-bottom: 10px;
}
    
#profile-user
{
    padding-bottom: 15px;
}
    
#profile-counts div.span4
{
    text-align: center;
}

/*********HELPERS*********/
.gray-rounded-border
{
    border: 1px solid #DDD;
    -webkit-border-radius: 4px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
    border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

    /* useful if you don't want a bg color from leaking outside the border: */
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
}
/*********END OF HELPERS*********/



/* MEDIA QUERIES */

/* large screens */
@media (min-width: 1200px)
{
    /* limit the width of the left area on large screens */
    #left-column
    {
        max-width: 315px;
    }
}

/* normal screens */
@media (max-width: 979px)
{
    /* removes extra bottom padding from top nav bar in small windows   */
    .navbar-fixed-top, .navbar-fixed-bottom
    {
        position: fixed;
    }
}

/* small screens, landscape phones, protrait tablet  */
@media (max-width: 767px)
{
    /* fixes the sides from being cuttoff(cliqflip logo and top right menu)  */
    .navbar-fixed-top, .navbar-fixed-bottom {
        margin-right: auto;
        margin-left: auto;
    }
    
    /* fixes the extra top padding */
    #main-content
    {
        padding-top: 35px;
    }
    
    #main-search-box
    {
        width: 75%;
        margin-left: 3%;
    }
    
    /* rearrange the main profile image, username, counts  */
    #profile-overview
    {
        position: relative;
    }
    
    #large-profile-image
    {
        float: left;
        max-height: 200px;
    }
    
    #profile-counts
    {
        position: absolute;
        top: 100px;
        right: 0px;
    }
    
    #profile-counts .span4
    {
        display: inline-block;
    }
    
    #profile-counts .span4:first-child
    {
        padding-left: 180px;
    }
    
    #profile-counts .span4 strong
    {
        width: 100px;
        display: block;
    }
    
    
    /* fix the sharing buttons  */
    #user-share-something a
    {
        display: inline-block;
        width: 20%;
        margin-left: 4%;
    }
    
    
}

/* landscape phones  */
@media (max-width: 530px)
{
    /* mobile looks better w/o padding  */
    body
    {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    /* less padding between the numbers */
    #profile-counts .span4 strong
    {
        width: 60px;
    }
    
}

/* portrait phones */
@media (max-width: 370px)
{
    /* make main profile image smaller */
    #large-profile-image
    {
        max-width: 125px;
    }
    
    /* fix the profile counts */
    #profile-counts .span4:first-child {
        padding-left: 135px;
    }
    
    #profile-counts .span4 strong {
        width: 55px;
    }
}















/*Feed*/

.feed-item
{
    width: 180px;
    margin: 5px;
    padding: 5px;
    background: #D8D5D2;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*Masonry - http://masonry.desandro.com/docs/animating.html#css_transitions */

.masonry, .masonry .masonry-brick
{
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.masonry
{
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.masonry .masonry-brick
{
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
