@import "././bourbon/bourbon";

.main-region {
  background-color: White;
  padding-top: 45px;
  padding-bottom: 20px; }

.landing-layout {
  height: 100%; }

#content-area {
  padding-top: 20px; }

.action-alert {
  margin-top: 8px; }

/* Nav bar */

.header-profile-image {
  max-height: 35px; }

.navbar .navbar-inner {
  background-color: #3f9fd9;
  @include linear-gradient(#3698d2, #3698d2 90%, #368fc5);
}

#btn-search {
  margin-left: -4px;
  margin-top: 6px; }

.typeahead.dropdown-menu {
  z-index: 2000; }

#search-suggestions {
  margin-top: -2px; }

footer.navbar .navbar-inner {
  text-align: center;
  color: #666;
  background-color: #222;
  background-image: none;
  a {
    color: #999;
    &:hover {
      color: #efefef; } } }

#toggle-settings-menu {
  display: inline-block; }

.coming-soon .alert {
  margin-bottom: 0; }

#post-content-region iframe {
  &.video {
    width: 100%;
    height: 75%;
    margin-top: 5%;
    border: none; }
  &.webpage {
    width: 100%;
    height: 90%; } }