@model CliqFlip.Web.Mvc.Areas.Admin.ViewModels.Interest.InterestListViewModel

@{
	ViewBag.Title = "title";
}

<h2>Interests</h2>

@{
	var grid = new WebGrid(Model.ListItemViewModels,new[]{"Name"});
}
@grid.GetHtml()