@model CliqFlip.Web.Mvc.Areas.Admin.ViewModels.Interest.InterestListViewModel

@{
	ViewBag.Title = "title";
}

<h2>Interests</h2>

@{
	var grid = new WebGrid(Model.ListItemViewModels, new[] {"Name", "CreateDate"}, "CreateDate");
	if (Request.QueryString[grid.SortDirectionFieldName].IsEmpty())
	{
		//http://forums.asp.net/t/1649155.aspx/1
		grid.SortDirection = SortDirection.Descending;
	}
}
@grid.GetHtml()