@using CliqFlip.Web.Mvc.Areas.Admin.ViewModels.Interest
@model InterestListViewModel
@{
	ViewBag.Title = "Interests";
}
<h2>Interests</h2>
@{
	var grid = new WebGrid(Model.ListItemViewModels, new[] {"Name", "CreateDate"}, "CreateDate");
	if (Request.QueryString[grid.SortDirectionFieldName].IsEmpty())
	{
		//http://forums.asp.net/t/1649155.aspx/1
		grid.SortDirection = SortDirection.Descending;
	}
}

@using (Html.BeginForm("Index","Interest", FormMethod.Get))
{
	<div class="editor-label">
		@Html.LabelFor(model => model.SearchKey)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.SearchKey)
		@Html.ValidationMessageFor(model => model.SearchKey)
	</div>
	<input type="submit"/>
}
@grid.GetHtml()
