@model CliqFlip.Web.Mvc.Areas.Admin.ViewModels.Interest.SpecificInterestGraphViewModel
@{
	ViewBag.Title = @Model.Interest.Name;
}
<h2>@Model.Interest.Name</h2>
<div id="interest-relationship">
	
</div>