@{
    ViewBag.Title = "ServerError";
}

<h2>Sad Panda makes it a 500 Server Error :~(</h2>

<p align="center">
    <img src="/Content/assets/img/Error/ServerError.jpg" alt="Sad Panda makes it a 500 Server Error :~(" />
</p>