@using CliqFlip.Web.Mvc.ViewModels.Search
@model UsersByInterestViewModel
<div id="innerResults" style="background-color: White;">

	<div>
		<h3>Scott Coates</h3>
		<img style="display: block; float: left;" alt="photo" src='@Url.Content("/Content/img/star.png")'/>
		<div style="margin-top: 25px; float: left; font-weight: bold; font-size: larger;">Hiking, Biking, Books</div>
		<div class="clear"></div>
	</div>
	<div>
		<h3>Scott Coates</h3>
		<img style="display: block; float: left;" alt="photo" src='@Url.Content("/Content/img/star.png")'/>
		<div style="margin-top: 25px; float: left; font-weight: bold; font-size: larger;">Hiking, Biking, Books</div>
		<div class="clear"></div>
	</div>

	<div>
		<h3>Scott Coates</h3>
		<img style="display: block; float: left;" alt="photo" src='@Url.Content("/Content/img/star.png")'/>
		<div style="margin-top: 25px; float: left; font-weight: bold; font-size: larger;">Hiking, Biking, Books</div>
		<div class="clear"></div>
	</div><div>
		  	<h3>Scott Coates</h3>
		  	<img style="display: block; float: left;" alt="photo" src='@Url.Content("/Content/img/star.png")'/>
		  	<div style="margin-top: 25px; float: left; font-weight: bold; font-size: larger;">Hiking, Biking, Books</div>
		  	<div class="clear"></div>
		  </div>
</div>

<script type="text/javascript">
	$("#innerResults").show('slide', 500);
</script>