@using CliqFlip.Web.Mvc.ViewModels.Search
@model UsersByInterestViewModel
<div id="innerResults" style="background-color: White;">

@foreach (var user in Model.Results)
{
	<div>
		<h3>@user.Name</h3>
		<img style="display: block; float: left;" alt="photo" src='@Url.Content("/Content/img/star.png")'/>
		<div style="margin-top: 25px; float: left; font-weight: bold; font-size: larger;">@user.Interests</div>
		<div class="clear"></div>
		<div style="margin-left: 68px; font-weight: bold; font-size: smaller;">@user.Bio</div>
	</div>
}
	
</div>

<script type="text/javascript">
	$("#innerResults").show('slide', 500);
</script>