@using CliqFlip.Web.Mvc.ViewModels.Search
@using MvcContrib.UI.Grid
@model UsersByInterestsSearchResultsViewModel
	   
@{
	ViewBag.Title = "Search Results - Discover More";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper">
	<div class="inner">
		<div class="divider">
		</div>
		<section style="margin-top: 30px;">
			@foreach (var user in Model.UserDtos)
			{
				<div>
					@user.UserDto.Username
				</div>
			}
			<div class="divider">
			</div>
		</section>
	</div>
</div>