@{
    Layout = "_Layout.cshtml";
}
@model CliqFlip.Web.Mvc.ViewModels.Popup.CreatePostViewModel
@using (Html.BeginForm("CreatePostFromUrl", "User", new { username = Model.Username }, FormMethod.Post))
{
    @Html.Image(Model.MediumUrl, "Bookmark Image", new { @class = "bookmark-image" })
    @Html.Hidden("MediumUrl", Model.MediumUrl)
    <div class="divider">
    </div>
    <em>Select an interest to tag the media to </em>
    @Html.DropDownList("UserInterestId", Model.InterestList)

    <div class="divider">
        <textarea cols="20" rows="2" name="PostDescription" class="bookmark-description"
                  placeholder="Description..."></textarea>
    </div>
    <div class="divider">
    </div>
    <div class="divider">
        <input type="submit" class="button blue" value="Add Media" />
    </div>
}