<p>
    This is the partial for view 1.</p>
<p ng-model="users">
    {{users.length}}</p>
<div class="row-fluid">
    <div class="span4">
        <div class="row-fluid">
            <div class="span6 suggested-user-list">
                <div ng-repeat="user in users" class="suggested-user">
                    <a href="/leonbjr/" class="ImgLink">
                        <img src="http://media-cache-ec5.pinterest.com/avatars/leonbjr_1343235907.jpg" class="profile user_image"
                            alt="Profile picture of Leon Burks Jr">
                    </a>
                    <p>
                        <a href="/leonbjr/">Leon Burks Jr</a> Very nice.. every gentleman should know the
                        difference.</p>
                </div>
            </div>
        </div>
    </div>
</div>
