<div class="row-fluid">
    <div class="span3 suggested-user-column suggested-user-list">
        <div class="row-fluid">
            <div class="span12">
                <div ng-switch on="users.length">
                    <div ng-switch-when="0" ng-include="'/Content/app/partials/suggested-user-list-loading.html'">
                    </div>
                    <div ng-switch-default>
                        <div ng-repeat="user in users">
                            <div class="suggested-user" ng-click="selectUser(user);">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <img ng-src="{{user.ThumbImageUrl}}" alt="Profile picture of {{user.Username}}">
                                    </div>
                                    <div class="span8">
                                        <h5>
                                            {{user.FirstName}}</h5>
                                        <h6>
                                            {{user.MajorLocationName}}</h6>
                                        <h6>
                                            <ng-pluralize count="user.CommonInterestCount" when="{'one': '1 common interest','other': '{} common interests'}"></ng-pluralize>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch on="!!selectedUser">
        <div ng-switch-when="true">
            <div class="span2 suggested-user-column">
                <div class="row-fluid">
                    <div class="span12 common-interest-list-header">
                        <h5>
                            Common Interests</h5>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 ">
                        <div ng-repeat="interest in selectedUser.InterestsInCommon">
                            <div class="row-fluid">
                                <div class="span12 common-interest-name">
                                    <h6>
                                        {{interest.Name}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 suggested-user-column">
                <div class="row-fluid">
                    <div class="span12 user-info-header">
                        <div class="user-info-large-image">
                            <img ng-src="{{selectedUser.FullImageUrl}}" alt="Profile picture of {{user.Username}}">
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 user-info-general">
                        <h5>
                            {{selectedUser.FirstName}}</h5>
                        <h5>
                            {{selectedUser.MajorLocationName}}</h5>
                    </div>
                </div>
            </div>
            <div class="span2 suggested-user-column">
                <div class="row-fluid">
                    <div class="span12 ice-breaker-list-header">
                        <h5>
                            Ice Breakers</h5>
                    </div>
                </div>
                <div ng-repeat="group in selectedUser.InterestGroups">
                    <div class="row-fluid">
                        <div class="span12 ice-breaker-name">
                            <h6 class="offset1">{{group.GroupName}}</h6>
                        </div>
                    </div>
                    <div ng-repeat="interest in group.Interests">
                    <div class="row-fluid">
                        <div class="span12 ice-breaker-name">
                            <h6 class="offset2">{{interest.Name}}</h6>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
