<div class="row-fluid">
    <div class="span12">
        Facebook
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="input-append">
            <p>Url:</p>
            <div  class="add-on">
                <input type="text" id="post-url" placeholder="Enter Url here"></input>
            </div>
        </div>
    </div>
</div>