<div class="modal-body full-height">
    <div class="row-fluid full-height">

        <!-- The left side.The user information and comments -->
        <div class="span4 post-details full-height">
            <div class="user-details">
                <div class="row-fluid">
                    <a class="span4" >
                        <img src="{{AuthorImageUrl}}"/>
                    </a>
                    <div class="span8">
                        <div class="row-fluid">
                            <div class="span12">
                                <h3>{{Username}}</h3>
                                <p>
                                    <small>{{Headline}}</small>
                                </p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <h3>Not a Friend</h3>
                                <p class="be-friends">
                                    <small>Do you wanna be friends?</small>
                                </p>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
                                        Yes
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-track="" data-category="skeleton" data-action="follow" data-label="post popup" href="#">Follow</a>
                                        </li>
                                        <li>
                                            <a data-track="" data-category="skeleton" data-action="send message" data-label="post popup" href="#">Send Message</a>
                                        </li>
                                        <li>
                                            <a data-track="" data-category="skeleton" data-action="wave" data-label="post popup" href="#">Wave</a>
                                        </li>
                                        <li>
                                            <a data-track="" data-category="skeleton" data-action="share back" data-label="post popup" href="#">Share Back</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        {{#HasCommonIntersts}}
                        <h3>
                            <small>You and {{Username}} both like&hellip;</small>
                        </h3>
                        {{/HasCommonIntersts}}
                        {{^HasCommonIntersts}}
                        <div class="alert alert-error">
                            You have no interests in common with {{Username}}
                        </div>
                        {{/HasCommonIntersts}}
                    </div>
                </div>
                {{#HasCommonIntersts}}
                <div class="row-fluid">
                    <div class="span12 ">
                        {{#CommonInterests}}
                        <span class="label label-info">{{Name}}</span>
                        {{/CommonInterests}}
                    </div>
                </div>
                {{/HasCommonIntersts}}
            </div>
            <div class="row-fluid activity">
                <div class="span12 well">
                    <div class="row-fluid">
                        <div class="span12">
                            {{#IsLikedByUser}}
                            <i class="icon-check"></i>
                            <small>
                                Liked it -
                            </small>
                            {{/IsLikedByUser}}
                            {{^IsLikedByUser}}
                            <a href="#" class="like-interest-button">
                                <i class="icon-thumbs-up"></i>
                                <b>Like</b>
                            </a> -
                            {{/IsLikedByUser}}
                            <a data-bypass="true" href="mailto:support@cliqflip.com">
                                <b>
                                    Report
                                </b>
                            </a>
                        </div>
                    </div>
                    <div id="user-activity"></div>
                    <div class="row-fluid">
                        <div class="span12"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span9">
                            <textarea class="span12" rows="2" id="post-overview-comment-content" placeholder="Comment"></textarea>
                        </div>
                        <div class="span3">
                            <button class="btn btn-mini btn-primary" id="post-overview-comment-button" href="#">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The right side.The post -->
        <div class="span8 media-content">
            <div class="row-fluid">
                <div class="span11">
                    {{#IsLikedByUser}}
                    <i class="icon-check"></i>
                    <small>
                        Liked it -
                    </small>
                    {{/IsLikedByUser}}
                    {{^IsLikedByUser}}
                    <a href="#" class="like-interest-button">
                        <i class="icon-thumbs-up"></i>
                        <b>Like</b>
                    </a> -
                    {{/IsLikedByUser}}
                    <a data-bypass="true" href="mailto:support@cliqflip.com">
                        <b>
                            Report
                        </b>
                    </a>
                </div>
                <div class="span1">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
            </div>
            <div class="row-fluid">
                <div id="post-content-region" class="span12">
                    {{> content }}
                </div>
            </div>
        </div>
    </div>
</div>
