<div class="row-fluid" style="padding-top: 10px;">
    <div id="left-column" class="span3">
    </div>
    <div class="span9">
        <div class="row-fluid">
            <div class="span8">
                <div class="row-fluid input-append" id="user-share-something">
                    <label class="add-on span3 share-something">Share something:</label>
                    <a href="#" data-post-type="photo" class="span2 user-interest-add-photo">Photo</a>
                    <a href="#" data-post-type="video" class="span2 user-interest-add-video">Video</a>
                    <a href="#" data-post-type="link" class="span2 user-interest-add-link">Link</a>
                    <a href="#" data-post-type="status" class="span2 user-interest-add-message">Status</a>
                </div>
            </div>
            <div class="span4">
                <div class="row-fluid">
                    <b class="span4 showing-feed">Showing:</b>
                    <ul class="span8 nav nav-pills">
                        <li class="active">
                            <a href="#">All Users</a>
                        </li>
                        <li>
                            <a data-track="" data-category="skeleton" data-action="filter just friends" data-label="landing" href="#">Friends</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div id="content-area" class="span12">
            </div>
        </div>
    </div>
</div>