<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div id="profile-overview" class="span12 gray-rounded-border">
                <div id="profile-user" class="row-fluid">
                    <img id="large-profile-image" src="{{ProfileImageUrl}}" class="span4" />
                    <div class="span8" style="font-size: 20px; line-height: 36px;">
                        <div class="row-fluid">
                            <div class="span12">
                                {{Username}}
                            </div>
                            <div class="span12">
                                <button class="btn btn-primary">Edit Profile...</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profile-counts" class="row-fluid">
                    <div class="span4">
                        <label>{{FriendCount}}</label>
                        <strong>Friends</strong>
                    </div>
                    <div class="span4">
                        <label>{{PostCount}}</label>
                        <strong>Posts</strong>
                    </div>
                    <div class="span4">
                        <label>{{InterestCount}}</label>
                        <strong>Interests</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-pills nav-stacked gray-rounded-border">
                    <li class="active user-selection" id="feed-selection">
                        <a data-selection="feed" href="#">Your Feed</a>
                    </li>
                    <li class="user-selection" id="search-selection">
                        <a data-selection="search" href="#">Search</a>
                    </li>
                    <li class="user-selection" id="inbox-selection">
                        <a data-selection="inbox" href="#">Inbox</a>
                    </li>
                    <li class="user-selection" id="settings-selection">
                        <a data-selection="settings" href="#">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>