<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div id="profile-overview" class="span12 gray-rounded-border">
                <div id="profile-user" class="row-fluid">
                    <img id="large-profile-image" src="{{ProfileImageUrl}}" class="span4" />
                    <div class="span8" style="font-size: 20px; line-height: 36px;">
                        <div class="row-fluid">
                            <div class="span12">
                                {{Username}}
                            </div>
                            <div class="span12">
                                <button class="btn btn-primary">Edit Profile...</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profile-counts" class="row-fluid">
                    <div class="span4">
                        <label>{{FriendCount}}</label>
                        <strong>Friends</strong>
                    </div>
                    <div class="span4">
                        <label>{{PostCount}}</label>
                        <strong>Posts</strong>
                    </div>
                    <div class="span4">
                        <label>{{InterestCount}}</label>
                        <strong>Interests</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-pills nav-stacked gray-rounded-border">
                    <li class="active">
                        <a>Your Feed</a>
                    </li>
                    <li>
                        <a>Search</a>
                    </li>
                    <li>
                        <a>Inbox</a>
                    </li>
                    <li>
                        <a>Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>