@{
    ViewBag.Title = "Browser Not Supported";
}
<div id="unsupported-browser">
    <div>
        <h2>
            Unsupported browser
        </h2>
        <h4>
            Please use one of the following browsers.
        </h4>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <a target="_blank" href="http://www.google.com/chrome">
                            <img src="@Url.Content("~/Content/assets/images/chrome.png")">
                            <br />
                            Chrome
                        </a>
                    </td>
                    <td>
                        <a target="_blank" href="http://www.apple.com/safari/">
                                                            
                            <img src="@Url.Content("~/Content/assets/images/safari.gif")">
                            <br />
                            Safari
                        </a>
                    </td>
                    <td>
                        <a target="_blank" href="http://www.mozilla.com/firefox/">
                            <img src="@Url.Content("~/Content/assets/images/firefox.png")">
                            <br />
                            Firefox
                        </a>
                    </td>
                    <td>
                        <a target="_blank" href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home">
                            <img src="@Url.Content("~/Content/assets/images/ie.png")">
                            <br />
                            Internet Explorer 9
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
