@{
    ViewBag.Title = "Browser Not Supported";
}
<div style="padding-top: 15px;">
    <div class="title">
        <h2>
            Unsupported browser
        </h2>
    </div>
    <div class="title-bottom">
        <span></span>
    </div>
    <div class="dialog-padding">
        <table width="100%">
            <tbody>
                <tr>
                    <td>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td class="message">
                                        <h3>
                                            CliqFlip is currently works best on the following browsers.
                                        </h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="message">
                                        <table width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" valign="middle" style="padding: 50px 30px;">
                                                        <a target="_blank" href="http://www.google.com/chrome">
                                                            <img src="@Url.Content("~/content/img/chrome.png")" height="65px">
                                                            <br />
                                                            Chrome
                                                        </a>
                                                    </td>
                                                    <td align="center" valign="middle" style="padding: 50px 30px;">
                                                        <a target="_blank" href="http://www.apple.com/safari/">
                                                            
                                                            <img src="@Url.Content("~/content/img/safari.gif")" height="65px">
                                                            <br />
                                                            Safari
                                                        </a>
                                                    </td>
                                                    <td align="center" valign="middle" style="padding: 50px 30px;">
                                                        <a target="_blank" href="http://www.mozilla.com/firefox/">
                                                            <img src="@Url.Content("~/content/img/firefox.png")" height="65px">
                                                            <br />
                                                            Firefox
                                                        </a>
                                                    </td>
                                                    <td align="center" valign="middle" style="padding: 50px 30px;">
                                                        <a target="_blank" href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home">
                                                            <img src="@Url.Content("~/content/img/ie.png")" height="65px">
                                                            <br />
                                                            Internet Explorer 9
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
